services:
  postgres:
    image: postgres
    pull_policy: missing
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: social
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql
      - ./scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  db-data:

